@charset "utf-8";
/*
       Cheech's Flexible Pizza Parlor
       Author: William Meyers
       Date:   2024-07-08
   
       Filename: styles.css

   This file contains the screen styles used with Cheech's Flexible Pizza Parlor
*/

